[domain/openhybridcloud.io]

cache_credentials = True
krb5_store_password_if_offline = True
ipa_domain = openhybridcloud.io
id_provider = ipa
auth_provider = ipa
access_provider = ipa
ipa_hostname = {{ ansible_fqdn }}
chpass_provider = ipa
dyndns_update = True
ipa_server = _srv_, idm01.openhybridcloud.io
dyndns_iface = eth0
ldap_tls_cacert = /etc/ipa/ca.crt
[sssd]
services = nss, sudo, pam, ssh

domains = openhybridcloud.io
[nss]
homedir_substring = /home
memcache_timeout = 86400

[pam]
offline_credentials_expiration = 1


[sudo]

[autofs]

[ssh]
ssh_known_hosts_timeout = 86400

[pac]

[ifp]

[secrets]

